<h1>New Named Transformation</h1>

<%= form_with model: @transformation do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :string %><br>
    <%= form.text_field :tr_string %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>